@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Scrollbar untuk Webkit (Chrome, Edge, Safari) */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1C290D; /* berta-dark */
}

::-webkit-scrollbar-thumb {
    background: #676F53; /* berta-olive */
    border-radius: 5px;
    border: 2px solid #1C290D; /* border agar terlihat melayang */
}

::-webkit-scrollbar-thumb:hover {
    background: #A19379; /* berta-taupe saat di-hover */
}

/* Memastikan background input autofill tidak jadi putih */
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active{
    -webkit-box-shadow: 0 0 0 30px #1C290D inset !important; /* Pakai warna berta-dark */
    -webkit-text-fill-color: #FEFAE0 !important; /* Warna teks cream */
    transition: background-color 5000s ease-in-out 0s;
}